body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
  font-family: "Barlow", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Variables */
:root {
  --fontcolor: white;
  --boxbg: rgba(58, 54, 54, 0.6);
  --bgcolor: #e3e8e9;
  --position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*LOGO*/
.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

/* Unordered list for navigation bar */
.navBar {
  display: flex;
  list-style-type: none;
  padding-right: 50px;
  min-width: 400px;
  gap: 50px;
  list-style: none;
}
.list-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  color: rgb(8, 60, 8);
}
.list-link:hover {
  color: rgb(202, 96, 20);
}
.list-link:active {
  color: blue;
}

.adventure-pic {
  width: 1265px;
  height: 500px;
  opacity: 0.6;
}

/*the text on the img*/
.paragraph {
  display: flex;
  position: var(--position);
  bottom: 370px;
  font-size: 30px;
  padding: 20px;
  line-height: 52px;
  color: var(--fontcolor);
  font-weight: 800;
}
/*HikR*/
.strong {
  color: rgb(8, 60, 8);
  font-weight: bold;
}
/*search state box*/
.user-input {
  font-size: 20px;
  background-color: var(--boxbg);
  padding: 1em;
  width: 480px;
  height: 220px;
  position: var(--position);
  bottom: 570px;
  left: 650px;
  border-radius: 30px;
}


/*enter your state name...*/
.user-input .user-title {
  color: var(--fontcolor);
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

/*input area..the state and it's input*/
.user-input .input {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: var(--fontcolor);
}

/*state label*/
.city {
  font-size: 23px;
  padding: 10px;
  color: var(--fontcolor);
}

/*input*/
#city-input {
  border: none;
  outline: none;
  padding: 15px;
  color: var(--fontcolor);
  border-radius: 20px;
  background: #03030373;
  font-family: inherit;
  font-size: 15px;
}

/*search button*/
.search-btn {
  position: var(--position);
  left: 5px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 80px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  background: #03030373;
  color: var(--fontcolor);
  cursor: pointer;
}
.search-btn:hover {
  border: 3px solid rgb(206, 197, 197);
}

/*output container*/
.output {
  position: var(--position);
  top: 250px;
}

/*the search result output text*/
.output .output-txt {
  margin-left: 70px;
  width: 600px;
  height: 550px;
  position: var(--position);

  bottom: 68px;
}

/*national parks title*/
.parks {
  background-color: #899e91;
  box-shadow: 10px 10px 10px gray;
  font-size: 25px;
  color: var(--fontcolor);
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  position: var(--position);
  top: 40px;
}
/*map img in output section*/
.map-img {
  border-radius: 10px;
  width: 600px;
  height: 450px;
  position: var(--position);
  bottom: 570px;
  left: 620px;
  box-shadow: 10px 10px 10px gray;
}

/*where the results will appear*/
#park-info {
  font-size: 20px;
  color: var(--fontcolor);
  background-color: var(--boxbg);
  box-shadow: 10px 10px 10px gray;
  padding: 1em;
  border-radius: 20px;
  position: var(--position);
  top: 50px;
}
.parksContainer {
  border: 4px solid black;
  margin: 1px;
  border-radius: 20px;
  padding: 25px 10px 15px 10px;
}

.containerItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.containerInfo{
  display:block
}
.containerImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 50px 50px 50px;
}
/*3 boxes container*/
.boxes-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  position: var(--position);
  bottom: 400px;
}


/*each box style*/

.box {
  height: 450px;
  color: var(--fontcolor);
  border-radius: 8px;
  position: var(--position);
  bottom: 950px;
  left: 50px;
  box-shadow: 10px 10px 10px gray;
  background-color: #899e91;
}
/*img inside each box*/
.box-img {
  display:none;
  width: 365px;
  height: 200px;
}
/*txt inside each box*/
.box .text {
  padding: 10px;
  font-size: 25px;
}
/*box title*/
.box-title {
  font-size: 30px;
  font-weight: bold;
}

/*text link in each box*/
.box-link {
  text-decoration: none;
  color: var(--fontcolor);
}
.box-link:hover {
  color: rgb(5, 68, 23);
}

/*******************html pages: info.html, info2.html*************************/
.logo1,
.logo2 {
  margin-top: 10px;
  margin-left: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/*navigation bar parameters for info and info2 html files*/
#uList,
.navBar {
  display: flex;
  list-style-type: none;
  padding-right: 30px;
  min-width: 400px;
  gap: 50px;
  list-style: none;
}

/* Main content style for info, info2 pages */
.container,
.container2,
.container3 {
  padding-top: 10px;
  font-size: 20px;
  color: rgb(41, 78, 41);
}

.h1,
.h3,
.p {
  text-align: center;
}
h4 {
  margin: 2em;
}

/* Unordered list style for info, info2, info3 pages*/
.info-list {
  display: flex;
  flex-direction: column;
  list-style: disc;
  line-height: 160%;
}

/*"BLAZE YOUR NEXT TRAIL*/
footer {
  position: fixed;
  bottom: 0px;

  bottom: 100 !important;
  left: 0 !important;
  background-color: #899e91 !important;
  padding: 10px !important;
  text-align: center !important;
  width: 100% !important;
}

.info3-img,
.info1-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 500px;
}
/*responsive for index.html*/
@media (min-width:576px) and (max-width: 768px) {
  body,
  .navBar {
    display: flex;
   
    gap: 10px;
    padding-right: 10px;
    
  }
.list-link{
  font-size: 20px;
  
}
  .logo {
    display: block;
    margin-right: 10px;
    width: 80px;
    height: 80px;
  
  }
  .user-input {
  width: 200px;
  height: 200px;
  position: var(--position);
  bottom: 450px;
  left: 20px;
 
}
.user-input .user-title {
 
  padding: 5px;
  display: flex;
  font-size: 20px;
}

/*input area..the state and it's input*/
.user-input .input {

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: var(--fontcolor);
}

/*state label*/
.city {
 display: none;

}

/*input*/
#city-input {
 position: relative;
 bottom: 90px;
 left: 30px;
  padding: 10px;
 
}

/*search button*/
.search-btn {
  position: var(--position);
  bottom: -15px;
  left: -90px;
  width: 50px;
  font-size: 15px;
  cursor: pointer;
}
.paragraph {
  display: flex;
  bottom: 500px;
  font-size: 30px;
  padding: 10px;
  line-height: 45px;

 
}
.boxes-container {


  grid-gap: 10px;
  position: var(--position);
  bottom: -80px;
  right: 50px;
}
.box{
  height:400px;
  width: 450px;
}
  .box-link {
font-size: 20px;
  }
  .box-img{
  margin: auto;
  }
  .map-img{
    display: none;
  }
  .output-txt{
    position: relative;
    left: -60px;
   top: 650px;
    width: 300px;
  }
  .parks{
    width: 150px;
    font-size: 20px;
  }
  #park-info{
    width: 220px;
  }

}
@media screen and (max-width: 576px) {
  body,
  .navBar {
    display: flex;
   
    gap: 10px;
    padding-right: 10px;
    
  }
.list-link{
  font-size: 20px;
  
}
  .logo {
    display: block;
    margin-right: 10px;
    width: 80px;
    height: 80px;
  
  }
  .user-input {
  width: 200px;
  height: 200px;
  position: var(--position);
  bottom: 450px;
  left: 20px;
 
}
.user-input .user-title {
 
  padding: 5px;
  display: flex;
  font-size: 20px;
}

/*input area..the state and it's input*/
.user-input .input {

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: var(--fontcolor);
}

/*state label*/
.city {
 display: none;

}

/*input*/
#city-input {
 position: relative;
 bottom: 90px;
 left: 30px;
  padding: 10px;
 
}

/*search button*/
.search-btn {
  position: var(--position);
  bottom: -15px;
  left: -90px;
  width: 50px;
  font-size: 15px;
  cursor: pointer;
}
.paragraph {
  display: flex;
  bottom: 500px;
  font-size: 30px;
  padding: 10px;
  line-height: 45px;

 
}
.boxes-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  position: var(--position);
  bottom: -80px;
  right: 50px;
}
.box{
  height:400px;
  width: 450px;
}
  .box-link {
font-size: 20px;
  }
  .box-img{
  margin: auto;
  }
  .map-img{
    display: none;
  }
  .output-txt{
    position: relative;
    left: -60px;
   top: 650px;
    width: 300px;
  }
 
  .parks{
    width: 150px;
    font-size: 20px;
  }
  #park-info{
    width: 220px;
  }

}

/*boxes
@media (max-width: 768px) {
  .boxes-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .boxes-container {
    padding: 5px;
  }
}
/*responsive design for search state box

@media screen and (min-width: 768px) {
  .box-container > * {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (min-width: 992px) {
  .box-container > * {
    flex-basis: calc(33.33% - 20px);
  }
}




/* Responsive parameters for info pages */
@media screen and (max-width: 948px) {
  .bodies,
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container,
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .h1,
  h3,
  .p {
    display: flex;
    text-align: center;
  }
  .info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#maincontainer {
  background-color: black;
  width: 500px;
  height: 200px;
}
.tablecontainer {
  background-color: black;
  width: 500px;
  height: 200px;
}
.hidden{
  display:none;
}
.parkNames:hover{
  background-color: bisque;
}
.audioNames:hover{
  background-color: bisque;
}
/**************************End of html info pages***********************************/
/* vl 1/31: added mediaqueries and merged from css2
/************ Large Devices ************************/
/* Large  devices (screens above Medium size)      
.card{
  border:1px solid black; 
  min-height:200px;
  max-height:200px;  }


/************ Medium Devices ************************/
/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (max-width: 768px) {
  .valign-wrapper {
    display: inline-block;
  }

  

    .card{
      border:1px solid black; 
      min-height:200px;
      max-height:200px;      
    }
    
} 

