body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imagen {
    width: 15%;
    height: 15%;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(199, 199, 107);
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding-right: 70px;
    min-width: 400px;
    gap: 100px;        
      
}

a {
color: green;
}


.slide {
    background-color: rgb(27, 71, 27);
    background-color: rgb(207, 198, 113);;
}

.slider-frame {
    overflow: hidden;
    height: 450px;
    width: 600px;
    margin-left: 330px;
    margin-top: 0px;
}

/*Slide animation*/
@-webkit-keyframes slide_animation {
    0%   {left: 0px;}
    10%  {left: 0px;}
    20%  {left: 1200px;}
    30%  {left: 1200px;}
    40%  {left: 2400px;}
    50%  {left: 2400px;}
    60%  {left: 1200px;}
    70%  {left: 1200px;}
    80%  {left: 0px;}
    90%  {left: 0px;}
    100% {left: 0px;}   
}

.slide-images {
    width: 3600px;
    height:800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
/*end of animation*/